body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(224, 224, 224);
}

h1 {
    text-align: center;
}

.box {
    width: 25%;
    border: 2px solid black;
    padding: 0 20px;
    margin: 10px;
    position: relative;
    background-color: white;
    box-sizing: border-box;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin: auto;
}

.box-title {
    width: 110px;
    text-align: center;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    position: absolute;
    float: right;
    right: 0;
    margin: 0;
}

.box-description {
    padding-top: 25px;
}

#title-one {
    background-color: darkred;
    color: white;
}

#title-two {
    background-color: violet;
}

#title-three {
    background-color: lightblue;
}

@media (min-width: 768px) and (max-width: 991px){
    .box {
        width: 40%;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px){
    .box {
        width: 100%;
        margin-bottom: 10px;
    }
}
